@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Merienda+One);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Merienda One";
}

.main {
    background-color: black;
    margin: auto;
    padding: 2%;
    max-width: 41%;
    position: relative;
}

.carousel .slide img {
    border: solid 6px;
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
    height:700px !important;
    max-width: 90%;

}

.slider animated{
  height:700px !important;
}

.slider-wrapper{
  height: 700px !important;
}


.carousel.carousel-slider{
  width: 100% !important;
}

.carousel img{
    height:250px;
}

h1, h2 {
    text-align: center;
    color: #C5B358;
    
    padding-bottom: 5px;
} 

.date {
    text-align: center;
    position:relative;
}

.centered {
    position: absolute;
    color: #4d2600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    font-weight: bold;
}

.date img{
     height:150px;
     width:100%;
}

.accordion-container {
    position: relative;
    max-width: 500px;
    height: auto;
    margin: 10px auto;
}

.set {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #C5B358;

    margin-bottom: 10px;
    text-align: center;
    border-radius: 15px 50px;
}

    .set > a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: #4d2600;
        font-weight: 600;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

.set > a i {
     float: right;
     margin-top: 2px;
}

.content {
    border-bottom: 1px solid #ddd;
    display: none;
}

/* effect-shine  on text */
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}

.gallerySlide img{
    width:100%;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 50px;
    width: 40px;
}

.invite {
    position: relative;

}

.invitation-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80%;
    font-family: "Dancing Script";
    width: 85%;
    height: 400px;
    letter-spacing: 3px;
    font-weight: bold;
}

.invitation-content img{    
    width:90%;
}

.invite h1 {
    color: #4d2600;
}

.invite img{
    height:700px;
    border-radius:10%;
    width:100%;
}

.video-react .video-react-big-play-button {
    top:45%;
    left:40%;
}



.invitation-content h1{
    line-height: 1.6;
}

.direction {
    position: relative;
}
.direction img {
    height: 900px;
    border-radius: 10%;
    width: 100%;
    
}

.direction-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75%;
    font-family: "Dancing Script";
    width: 85%;
    height: 400px;
    letter-spacing: 2px;

}

.direction h1 {
    color: #4d2600;
    font-size: 23px;
    padding: 0;
}

.map {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    color: #4d2600;
}

.direction-content img {
  height: auto;
}

.accordion__button {
    background-color: #C5B358;
    color: #4d2600;
    font-family: "Merienda One" !important;
    font-weight:bold;
    text-align:center;
}

.accordion__item{
    margin-bottom:3%;
    border-radius:2%;
}

.accordion__button:before {
    display: none;
}
#accordion__heading-0 {
    border-radius: 15px 50px;
}
#accordion__heading-1 {
    border-radius: 15px 50px;
}
#accordion__heading-2 {
    border-radius: 15px 50px;
}
#accordion__heading-3 {
    border-radius: 15px 50px;
}

.video-react .video-react-big-play-button {
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:20%;
}

.direction-content h2{
  color: #4d2600;
}